body{
  margin:0;
  font-family: 'Arial', sans-serif;
  color:white;
  text-align:center;

  background: radial-gradient(circle at top, #3a0066, #000000 70%);
}

/* HEADER */
header{
  padding:40px 20px;
}

h1{
  font-size:32px;
  background:linear-gradient(90deg,#ffb3ff,#66ffff,#ffd699);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.tag{
  opacity:.7;
}

/* BUTTON */
.btn{
  display:inline-block;
  margin-top:15px;
  padding:12px 20px;
  border-radius:30px;
  text-decoration:none;
  font-weight:bold;

  background:linear-gradient(90deg,#ff66cc,#66ffff);
  color:black;
}

.btn.big{
  font-size:18px;
  padding:15px 30px;
}

/* HERO */
.hero img{
  width:100%;
  max-height:400px;
  object-fit:cover;
}

/* ARTIST */
.artist{
  padding:40px 20px;
}

.artist img{
  width:200px;
  border-radius:50%;
  box-shadow:0 0 25px #ff66cc;
}

/* GALLERY */
.gallery{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  padding:30px;
}

.card{
  width:250px;
}

.card img{
  width:100%;
  border-radius:15px;
}

/* CTA */
.cta{
  padding:40px;
}

/* FOOTER */
footer{
  padding:20px;
  opacity:.6;
}